.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*HEADER*/
.actNav{
  color: #EB5757;
  font-weight: 600;
}
.gradBorder{
  background: linear-gradient(90deg, #EB5757 -0.82%, #EB7357 48.98%, #F2C94C 100.82%);
}
.linearBg{
  background: linear-gradient(90deg, #F2C94C 0%, #EB7357 50.97%, #EB5757 99.94%);
}
.img:after{
  font-family: FontAwesome;
  content: "abc";
  display: inline-block;
}
.img:hover+.hide{
  display: block;
}
.hide:hover {
  display: block;
}


.popup-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
}
